body 
  { 
  margin-left:50px;
  margin-right:50px;
  }
h1 
  {
  text-align:center;
  /*
  color:red;
  font-size:8pt;
  */
  }
h2 
  {
  text-align:center;
  /*
  color:red;
  font-size:8pt;
  */
  }
h3 
  {
  text-align:center;
  /*
  color:red;
  font-size:8pt;
  */
  }
h4 
  {
  color:blue;
  /*
  text-align:center;
  font-size:8pt;
  */
  }
p {
  text-align:justify;
  margin-left:25px;
  /*
  color:red;
  font-size:8pt;
  */
  }
h6 {
  color:red;
  font-size:12pt;
  margin-top:5px;
  margin-bottom:0px;
  /*
  text-align:justify;
  color:red;
  */
  }
